@font-face {
    font-family: Notera;
    src: url("../fonts/Notera_PersonalUseOnly.ttf");
}
@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
.container {
    margin: auto;
    max-width: 1170px;
}
#back-to-top {
    width: 30px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    padding: 4px;
    background-color: #e3a68e;
}
#back-to-top:hover {
    background-color: #cdcdcd;
}
