@media (min-width: 768px) {
    #back-to-top {
        display: none;
    }
    .header-links {
        display: initial;
        list-style: none;
    }

    .header-links li {
        display: inline;
    }
    .mobile-nav {
        display: none;
    }
    .tablet-nav {
        display: block;
        padding: 0px 20px;
    }
    .tablet-main {
        padding: 20px 0px;
    }
    .tablet-nav-left {
        list-style: none;
        vertical-align: middle;
    }
    .tablet-nav-left li {
        display: inline;
    }
    .tablet-nav-left li a {
        text-decoration: none;
        color: black;
    }
    .tablet-nav-left li a:hover {
        color: #ffccb9;
    }
    .tablet-icon {
        margin-right: 25px;
        text-transform: uppercase;
        font-family: Raleway;
    }
    .tablet-icon .fa-search {
        font-size: 20px;
    }
    .tablet-nav-right {
        list-style: none;
        padding-top: 2px;
    }
    .tablet-nav-right li {
        display: inline;
        text-transform: uppercase;
        font-size: 11px;
        padding-right: 11px;
        font-family: Raleway;
    }
    .tablet-nav-right li a {
        text-decoration: none;
        color: black;
    }
    .tablet-nav-right .active a {
        color: #ffb79b;
    }
    .tablet-nav-right li a:hover {
        color: #ffccb9;
    }
    .hero {
        display: block;
    }
    .hero p {
        text-align: center;
    }
    .hero .hero-text1 {
        font-family: Notera;
        font-size: 80px;
    }
    .hero .hero-text2 {
        padding-top: 6px;
        font-family: Raleway;
        font-size: 12px;
        color: rgb(255, 183, 155);
        text-transform: uppercase;
    }
    .hero .hero-text3 {
        text-align: center;
    }
    .hr1 {
        width: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    .carousel-tablet {
        display: block;
        height: 360px;
        padding: 0px 20px;
    }
    .carousel-tab-left {
        width: 90%;
        height: 360px;
    }
    .carousel-tab-left-left {
        width: 100%;
        height: 100%;
    }
    .carousel-tab-left-control {
        background-color: #4c4747;
        width: 11.11%;
        height: 100%;
    }
    /* .carousel-tab-left-control:hover {
        background-color: #ffb79b;
    } */
    .carousel-tab-left-image {
        width: 88.89%;
        background-color: #ff9b9b;
        height: 100%;
    }
    .carousel-tab-left-image1 {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .carousel-tab-right {
        width: 10%;
        background-color: #4c4747;
        height: 360px;
    }
    .carousel-tab-left-arrow {
        margin-top: 163px;
        margin-left: calc(50% - 17px);
        width: 35px;
    }
    .carousel-tab-right-arrow {
        margin-top: 163px;
        margin-left: calc(50% - 17px);
        width: 35px;
    }
    .carousel-tab-left-arrow:hover {
        fill: #ffffff;
    }
    .carousel-tab-right-arrow:hover {
        fill: #ffffff;
    }
    .mobile-ig-slider {
        display: none;
    }
    .tablet-ig-slider {
        display: block;
        padding: 0px 20px;
        height: 200px;
        margin-top: 20px;
        position: relative;
    }
    .tablet-ig {
        position: absolute;
        left: calc(50% - 70px);
        top: -7%;
        border: none;
        text-transform: uppercase;
        padding: 8px 35px;
        background-color: #ffb79b;
        font-family: Raleway;
        font-size: 12px;
        color: rgb(255, 255, 255);
    }
    .tablet-ig-slider-left {
        width: 50%;
        height: 100%;
    }
    .tablet-ig-slider-left-left {
        width: 100%;
        height: 100%;
    }
    .tablet-ig-slider-left-control {
        width: 10%;
        height: 100%;
        background-color: #dcdcdc;
    }
    .tablet-ig-left-control {
        width: 17px;
    }
    .tablet-ig-right-control {
        width: 17px;
    }

    .tablet-ig-slider-left-control:hover {
        background-color: #e3a68e;
    }
    .tablet-ig-slider-left-image {
        width: 90%;
        height: 100%;
        background-color: #424242;
    }
    .tablet-ig-slider-right {
        width: 50%;
        height: 100%;
    }
    .tablet-ig-slider-right-right {
        width: 100%;
        height: 100%;
    }
    .tablet-ig-slider-right-image {
        width: 90%;
        height: 100%;
        background-color: #161617;
    }
    .tablet-ig-slider-right-control {
        width: 10%;
        height: 100%;
        background-color: #dcdcdc;
    }
    .tablet-ig-slider-right-control:hover {
        background-color: #e3a68e;
    }
    .desktop-ig-slider {
        display: none;
        height: 300px;
    }
    .recent-post-mobile {
        display: none;
    }
    .recent-post-tab {
        margin-top: 20px;
        padding: 0px 20px;
        display: inline-block;
    }
    .recent-post-tab > h3 {
        font-size: 22px;
        font-family: Raleway;
        text-transform: uppercase;
    }
    .outer-tab {
        border-bottom: 1px solid #eaeaeb;
        position: relative;
        padding-bottom: 2rem;
    }
    .inner-tab {
        position: absolute;
        display: inline-block;
        padding-right: 80px;
        border-bottom: 2px solid #ffb79b;
        bottom: -1px;
        text-transform: uppercase;
        font-family: Raleway;
    }

    .individual-post-tab-top {
        margin-top: 20px;
        background-color: #ffffff;
    }
    .image-tab {
        max-width: 100%;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .outer-tab1 {
        border-bottom: 1px solid #eaeaeb;
        position: relative;
        padding-top: 20px;
    }
    .inner-tab1 {
        position: absolute;
        display: inline-block;
        padding-right: 200px;
        border-bottom: 2px solid #ffb79b;
        bottom: -1px;
        text-transform: uppercase;
        font-family: Raleway;
    }

    .description-tab {
        padding: 20px;
    }
    .description-tab-header {
        text-transform: uppercase;
        font-size: 17px;
        font-family: Raleway light;
    }
    .description-tab-subheader {
        padding-top: 15px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Raleway light;
    }
    .description-tab-subheader span {
        color: #ffd1c0;
    }
    .description-tab-text {
        padding: 25px 0px;
        font-family: Raleway;
    }
    .to-make-inline-tab {
        display: block;
    }

    .share-social-tab {
        list-style: none;
    }
    .share-social-tab li {
        display: inline-block;
    }
    .tab-share-icon {
        padding: 14px 12px;
        width: 10px;
        margin-right: -4px;
        border-top: 1px solid #eaeaeb;
        border-left: 1px solid #eaeaeb;
        border-bottom: 1px solid #eaeaeb;
    }
    .share-social-tab :nth-child(4) {
        border-right: 1px solid #eaeaeb;
    }
    .tab-share-icon a:hover {
        fill: #ffb79b;
    }
    .share-social-tab :nth-child(5) {
        padding: 15px 11px;
        border: none;
        background-color: #ffb79b;
        margin-left: 3px;
    }
    .share-social-tab :nth-child(5):hover {
        background-color: #cdcdcd;
    }
    .tab-posts-middle {
        margin-top: 20px;
    }

    .tab-posts-middle-left {
        background-color: #ffffff;
        width: 48%;
    }
    .tab-posts-middle-right {
        background-color: #ffffff;
        width: 48%;
    }
    .tab-post-bottom {
        margin-top: 20px;
        padding-top: 25px;
        background-color: #ffffff;
    }
    .tab-post-bottom-image {
        width: 25%;
    }
    .tab-post-bottom-image1 {
        height: 360px;
        width: 100%;
        object-fit: cover;
    }
    .tab-post-bottom-description {
        width: 73%;
    }
    .mobile-footer {
        display: none;
    }
    .tablet-footer {
        display: inline-block;
        padding: 0px 20px;
    }
    .tablet-footer-left {
        width: 49%;
    }
    .tablet-footer-right {
        width: 49%;
    }
    .footer-image-tablet {
        margin-top: 10px;
    }
    .footer-image-tablet1 {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .footer-subscribe {
        margin-top: 20px;
    }
    .footer-subscribe p {
        font-family: Raleway;
    }
    .footer-subscribe-form-div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer-subscribe-form {
        width: 100%;
        margin-top: 10px;
        border-radius: 0px;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-subscribe-form::placeholder {
        font-family: Raleway;
        text-transform: uppercase;
        padding-left: 20px;
    }
}
@media (min-width: 1200px) {
    .tablet-nav {
        display: none;
    }
    .desktop-nav {
        display: block;
        padding: 17px 0px;
    }
    .desktop-main {
        font-size: 10px;
    }
    .nav-left {
        vertical-align: middle;
    }
    .desktop-nav-left {
        list-style: none;
    }
    .desktop-nav-left li {
        display: inline;
        text-transform: uppercase;
        font-family: Raleway;
        font-size: 13px;
        font-weight: bold;
    }
    .desktop-nav-left .desktop-icon {
        padding: 18px 14px;
        border-left: 1px solid #eaeaeb;
    }
    .desktop-nav-left li:nth-child(2) {
        border-right: 1px solid #eaeaeb;
    }

    .desktop-nav-right {
        list-style: none;
    }
    .desktop-nav-right li {
        display: inline;
        font-size: 13px;
    }
    .desktop-nav-right .social-icons {
        padding: 17px 14px;
        border-left: 1px solid #eaeaeb;
    }
    .desktop-nav-right li:nth-child(5) {
        border-right: 1px solid #eaeaeb;
    }

    .social-icons a {
        text-decoration: none;
    }
    .social-icons a:hover {
        fill: #ffccb9;
    }
    .social-icon {
        display: inline-block;
        width: 12px;
    }
    .desktop-nav-middle {
        list-style: none;
        margin-left: 91px;
    }
    .desktop-nav-middle li {
        display: inline;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: Raleway;
        padding-left: 19px;
        padding-right: 20px;
    }
    .desktop-nav-middle .active {
        color: #ffb79b;
    }
    .carousel-tablet {
        display: none;
    }
    .carousel-desktop {
        display: block;
        height: 488px;
    }
    .carousel-left {
        width: 91.282%;
        height: 488px;
    }
    .carousel-left-left {
        width: 100%;
        height: 100%;
    }
    .carousel-left-control {
        background-color: #4c4747;
        width: 9.3632%;
        height: 100%;
    }
    .carousel-left-image {
        width: 90.6367%;
        background-color: #ff9b9b;
        height: 100%;
    }
    .carousel-left-image1 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .carousel-right {
        width: 8.7179%;
        background-color: #4c4747;
        height: 488px;
    }
    .carousel-left-arrow {
        margin-top: 224px;
        margin-left: calc(50% - 17px);
        width: 35px;
    }
    .carousel-right-arrow {
        margin-top: 224px;
        margin-left: calc(50% - 17px);
        width: 35px;
    }
    .carousel-left-arrow:hover {
        fill: #ffffff;
    }
    .carousel-right-arrow:hover {
        fill: #ffffff;
    }
    .tablet-ig-slider {
        display: none;
    }
    .recent-post-tab {
        display: none;
    }
    .tablet-footer {
        display: none;
    }
}
