@media (min-width: 768px) {
    #back-to-top {
        display: none;
    }
    .header-links {
        display: initial;
        list-style: none;
    }

    .header-links li {
        display: inline;
    }
    .mobile-nav {
        display: none;
    }
    .tablet-nav {
        display: block;
        padding: 0px 20px;
    }
    .tablet-main {
        padding: 20px 0px;
    }
    .tablet-nav-left {
        list-style: none;
        vertical-align: middle;
    }
    .tablet-nav-left li {
        display: inline;
    }
    .tablet-nav-left li a {
        text-decoration: none;
        color: black;
    }
    .tablet-nav-left li a:hover {
        color: #ffccb9;
    }
    .tablet-icon {
        margin-right: 25px;
        text-transform: uppercase;
        font-family: Raleway;
    }
    .tablet-icon .fa-search {
        font-size: 20px;
    }
    .tablet-nav-right {
        list-style: none;
        padding-top: 2px;
    }
    .tablet-nav-right li {
        display: inline;
        text-transform: uppercase;
        font-size: 11px;
        padding-right: 11px;
        font-family: Raleway;
    }
    .tablet-nav-right li a {
        text-decoration: none;
        color: black;
    }
    .tablet-nav-right .active a {
        color: #ffb79b;
    }
    .tablet-nav-right li a:hover {
        color: #ffccb9;
    }
    .hero {
        display: block;
        padding-top: 51px;
        padding-bottom: 50px;
    }
    .hero p {
        text-align: center;
    }
    .hero .hero-text1 {
        font-family: Notera;
        font-size: 80px;
    }
    .hero .hero-text2 {
        padding-top: 6px;
        font-family: Raleway;
        font-size: 12px;
        color: rgb(255, 183, 155);
        text-transform: uppercase;
    }
    .hero .hero-text3 {
        text-align: center;
    }
    .hr1 {
        width: 50px;
        display: inline-block;
        vertical-align: middle;
    }
    .carousel {
        display: block;
        height: 488px;
        padding: 0px 20px;
    }
    .carousel-left {
        width: 90%;
        height: 488px;
    }
    .carousel-left-left {
        width: 100%;
        height: 100%;
    }
    .carousel-left-control {
        background-color: #4c4747;
        width: 11.11%;
        height: 100%;
    }
    .carousel-left-image {
        width: 88.89%;
        background-color: #ff9b9b;
        height: 100%;
    }
    .carousel-left-image1 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .carousel-right {
        width: 10%;
        background-color: #4c4747;
        height: 488px;
    }
    .carousel-left-arrow {
        margin-top: 224px;
        margin-left: calc(50% - 17px);
        width: 35px;
    }
    .carousel-right-arrow {
        margin-top: 224px;
        margin-left: calc(50% - 17px);
        width: 35px;
    }
    .carousel-left-control:hover {
        background-color: #e3a68e;
    }
    .carousel-left-control:hover .carousel-left-arrow {
        fill: #ffffff;
    }

    .carousel-right:hover {
        background-color: #e3a68e;
    }
    .carousel-right:hover .carousel-right-arrow {
        fill: #ffffff;
    }

    .ig-slider-image-mobile {
        display: none;
    }

    .ig-slider-image-tab {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .ig-slider-tab {
        height: 100%;
        width: 50%;
        list-style: none;
    }

    .tab-image {
        width: calc(50% - 4px);
        height: 100%;
        object-fit: cover;
    }
    .ig-slider-image-desktop {
        display: none;
    }
    .posts {
        display: inline-block;
        width: 100%;
    }
    .post1 {
        display: none;
    }

    .recent-post-tab {
        margin-top: 20px;
        padding: 0px 20px;
        display: inline-block;
    }
    .recent-post-tab > h3 {
        font-size: 22px;
        font-family: Raleway;
        text-transform: uppercase;
    }
    .outer-tab {
        border-bottom: 1px solid #eaeaeb;
        position: relative;
        padding-bottom: 2rem;
    }
    .inner-tab {
        position: absolute;
        display: inline-block;
        padding-right: 80px;
        border-bottom: 2px solid #ffb79b;
        bottom: -1px;
        text-transform: uppercase;
        font-family: Raleway;
    }

    .individual-post-top {
        margin-top: 20px;
        background-color: #ffffff;
    }
    .individual-post-top1 {
        position: relative;
    }
    .camera-icon {
        position: absolute;
        height: 40px;
    }
    .image-post {
        max-width: 100%;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .outer-tab1 {
        border-bottom: 1px solid #eaeaeb;
        position: relative;
        padding-top: 20px;
    }
    .inner-tab1 {
        position: absolute;
        display: inline-block;
        padding-right: 200px;
        border-bottom: 2px solid #ffb79b;
        bottom: -1px;
        text-transform: uppercase;
        font-family: Raleway;
    }

    .description-post {
        padding: 20px;
    }
    .description-post-header {
        text-transform: uppercase;
        font-size: 17px;
        font-family: Raleway light;
    }
    .description-post-subheader {
        padding-top: 15px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Raleway light;
    }

    .description-post-text {
        padding: 25px 0px;
        font-family: Raleway;
    }
    .to-make-inline {
        display: block;
    }

    .share-social-post {
        list-style: none;
    }
    .share-social-post li {
        display: inline-block;
    }
    .post-share-icon {
        padding: 14px 12px;
        width: 10px;
        margin-right: -4px;
        border-top: 1px solid #eaeaeb;
        border-left: 1px solid #eaeaeb;
        border-bottom: 1px solid #eaeaeb;
    }
    .share-social-post :nth-child(4) {
        border-right: 1px solid #eaeaeb;
    }
    .post-share-icon a:hover {
        fill: #ffb79b;
    }
    .share-social-post :nth-child(5) {
        padding: 15px 11px;
        border: none;
        background-color: #ffb79b;
        margin-left: 3px;
    }
    .share-social-post :nth-child(5):hover {
        background-color: #cdcdcd;
    }
    .post-posts-middle {
        margin-top: 20px;
    }

    .post-posts-middle-left {
        background-color: #ffffff;
        width: 48%;
    }
    .post-posts-middle-left1 {
        position: relative;
    }
    .camera-icon1 {
        width: 30px;
        position: absolute;
    }
    .post-posts-middle-right {
        background-color: #ffffff;
        width: 48%;
    }
    .post-post-bottom {
        margin-top: 20px;
        padding-top: 25px;
        background-color: #ffffff;
    }
    .post-post-bottom-image {
        width: 25%;
    }
    .post-post-bottom-image1 {
        height: 360px;
        width: 100%;
        object-fit: cover;
    }
    .post-post-bottom-description {
        width: 73%;
    }
    .footer-left,
    .footer-right {
        width: 49%;
    }
    .outer-p {
        border-bottom: 1px solid #eaeaeb;
        position: relative;
        padding-top: 15px;
    }
    .inner-p {
        position: absolute;
        display: inline-block;
        padding-right: 200px;
        border-bottom: 2px solid #ffb79b;
        bottom: -1px;
        text-transform: uppercase;
        font-family: Raleway;
    }
    .outer-s {
        border-bottom: 1px solid #eaeaeb;
        position: relative;
        padding-top: 10px;
    }
    .inner-s {
        position: absolute;
        display: inline-block;
        padding-right: 80px;
        border-bottom: 2px solid #ffb79b;
        bottom: -1px;
        text-transform: uppercase;
        font-family: Raleway;
    }
}
@media (min-width: 1200px) {
    .tablet-nav {
        display: none;
    }
    .desktop-nav {
        display: block;
        padding: 17px 0px;
    }
    .desktop-main {
        font-size: 10px;
    }
    .nav-left {
        vertical-align: middle;
    }
    .desktop-nav-left {
        list-style: none;
    }
    .desktop-nav-left li {
        display: inline;
        text-transform: uppercase;
        font-family: Raleway;
        font-size: 13px;
        font-weight: bold;
    }
    .desktop-nav-left .desktop-icon {
        padding: 18px 14px;
        border-left: 1px solid #eaeaeb;
    }
    .desktop-nav-left li:nth-child(2) {
        border-right: 1px solid #eaeaeb;
    }

    .desktop-nav-right {
        list-style: none;
    }
    .desktop-nav-right li {
        display: inline;
        font-size: 13px;
    }
    .desktop-nav-right .social-icons {
        padding: 17px 14px;
        border-left: 1px solid #eaeaeb;
    }
    .desktop-nav-right li:nth-child(5) {
        border-right: 1px solid #eaeaeb;
    }

    .social-icons a {
        text-decoration: none;
    }
    .social-icons a:hover {
        fill: #ffccb9;
    }
    .social-icon {
        display: inline-block;
        width: 12px;
    }
    .desktop-nav-middle {
        list-style: none;
        margin-left: 91px;
    }
    .desktop-nav-middle li {
        display: inline;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: Raleway;
        padding-left: 19px;
        padding-right: 20px;
    }
    .desktop-nav-middle li a {
        text-decoration: none;
        color: black;
    }
    .desktop-nav-middle li a:hover {
        color: #ffccb9;
    }

    .desktop-nav-middle .active a {
        color: #ffb79b;
    }
    .carousel-left {
        width: 91.282%;
        height: 488px;
    }
    .carousel-left-left {
        width: 100%;
        height: 100%;
    }
    .carousel-left-control {
        background-color: #4c4747;
        width: 9.3632%;
        height: 100%;
    }
    .carousel-left-image {
        width: 90.6367%;
        background-color: #ff9b9b;
        height: 100%;
    }
    .carousel-left-image1 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .carousel-right {
        width: 8.7179%;
        background-color: #4c4747;
        height: 488px;
    }
    .ig-slider-image-tab {
        display: none;
    }

    .ig-slider-image-desktop {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .ig-slider-desktop {
        list-style: none;
    }

    .desktop-image {
        height: 100%;
        width: calc(25% - 4px);
        object-fit: cover;
    }
    .posts {
        width: 74.3589%;
    }
    .search {
        display: block;
        width: 23.0769%;
    }
    .search h3 {
        font-family: Raleway;
        font-size: 22px;
        text-transform: uppercase;
    }
    .search h5 {
        font-family: Raleway;
        font-size: 17px;
        text-transform: uppercase;
    }
    .search-form-div {
        margin-top: 20px;
    }
    .search-form {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 0px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .search-form::placeholder {
        font-family: Raleway;
        text-transform: uppercase;
        padding-left: 20px;
    }
    .popular-post {
        background-color: #ffffff;
        margin-top: 30px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .popular-post1 {
        padding: 10px 0px;
        border-bottom: 1px solid #eaeaeb;
    }
    .category-post {
        background-color: #ffffff;
        margin-top: 30px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .popular-post-img {
        height: 50px;
        width: 50px;
    }
    .popular-post-img1 {
        height: 100%;
        width: 100%;
    }
    .popular-post-text {
        padding: 10px 0px;
        margin-right: 60px;
    }
    .popular {
        padding-top: 15px;
        padding-left: 15px;
    }
    .category {
        padding-top: 15px;
        padding-left: 15px;
    }
    .p1 {
        font-family: Raleway;
        font-size: 13px;
        text-transform: uppercase;
    }
    .p2 {
        font-family: Raleway;
        font-size: 12px;
        text-transform: uppercase;
    }
    .empty-box {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 260px;
        width: 100%;
        background-color: #ffffff;
    }
    .categories {
        list-style: none;
        font-family: Raleway;
    }
    .categories li {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        text-transform: uppercase;
        border-bottom: 1px solid #cdcdcd;
    }
    .instagram {
        background-color: #ffffff;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .insta-photo {
        margin-top: 5px;
        height: 260px;
        width: auto;
    }
    .insta-photo1 {
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
    .social-media-right {
        background-color: #ffffff;
        margin-top: 20px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .share-social-right {
        padding-top: 15px;
        padding-bottom: 15px;
        list-style: none;
    }
    .share-social-right li {
        display: inline-block;
    }
    .right-share-icon {
        padding: 8px 14px;
        width: 10px;
        margin-right: -4px;
        border-top: 1px solid #eaeaeb;
        border-left: 1px solid #eaeaeb;
        border-bottom: 1px solid #eaeaeb;
    }
    .share-social-right :nth-child(4) {
        border-right: 1px solid #eaeaeb;
    }
    .right-share-icon a:hover {
        fill: #ffb79b;
    }
    .share-social-right :nth-child(5) {
        padding: 9px 15px;
        border: none;
        background-color: #ffb79b;
        margin-left: 3px;
    }

    .share-social-right :nth-child(5):hover {
        background-color: #cdcdcd;
    }
    .post-slider {
        margin-top: 15px;
        background-color: #ffffff;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .grey {
        margin-top: 15px;
        height: 200px;
        background-color: gray;
        padding-bottom: 15px;
    }
    .latest-tweet {
        display: block;
        margin-top: 5px;
    }
    .latest-tweet > h3 {
        font-family: Raleway;
        font-size: 17px;
        text-transform: uppercase;
    }

    .tweet {
        padding-bottom: 29px;
        font-family: Raleway;
        font-size: 13px;
    }
    .tweet1 {
        padding-bottom: 20px;
        font-family: Raleway;
        font-size: 13px;
        color: #ffb79b;
    }
    .tweet1 a {
        text-decoration: none;
        color: #ffb79b;
    }
    .tweet1 a:hover {
        text-decoration: underline;
        color: #4809c8;
    }
    .tweeter {
        text-transform: uppercase;
        font-family: Raleway;
        font-size: 12px;
        font-weight: bold;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .tweeters {
        padding-bottom: 29px;
        border-bottom: 1px solid #eaeaeb;
    }
    .footer-left {
        width: 69%;
    }
    .about-me-footer,
    .latest-tweet {
        width: 49%;
    }
    .footer-right {
        width: 29%;
    }
}
