.main-header-left{
  padding-top: 20px;
}

.main-header-left img{
  vertical-align: middle;
}

.header-search-form{
  display: inline;
}
.header-search-form .header-search-form-input{
  background-image: url('../img/search-final_03.png');
  background-repeat: no-repeat;
  margin-left: 24px;
  width: 275px;
  height: 20px;
  border:none;
  font-size: 8px;
  color: #0a42dd;
}
.header-search-form .header-search-form-btn{
  margin-left:7px;
  background: url('../img/search-button.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border:none;
  color: white;
  font-size: 8px;
  width: 53px;
  height: 20px;
  padding-left: 9px;
}


.main-header-right{
  padding-top: 28px;
}
.username{
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}
.more-option{
  margin-top: 3px;
  list-style: none;
}
.more-option li{
  display: inline;
}

.more-option li span{
  font-weight: bold;
  font-size: larger;
}
.sub-header-left{
  padding-top: 12px;
}
.sub-header-option li {
  display: inline;
}
.sub-header-option li span{
  font-size: larger;
  margin-right: 20px;
}

.sub-header-right{
  padding-top: 12px;
}
.sub-header-right img{
  vertical-align: middle;
}

.sub-header-items{
  display: inline-block;
}
.sub-header-items span {
  /* margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px; */
  padding: 5px;
}