.main-header-left{
  padding-top: 20px;
}

.main-header-left img{
  vertical-align: middle;
}

.header-search-form{
  display: inline;
}
.header-search-form .header-search-form-input{
  background-image: url('../img/search-final_03.png');
  background-repeat: no-repeat;
  margin-left: 24px;
  width: 275px;
  height: 20px;
  border:none;
  font-size: 8px;
  color: #0a42dd;
}
.header-search-form .header-search-form-btn{
  margin-left:7px;
  background: url('../img/search-button.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border:none;
  color: white;
  font-size: 8px;
  width: 53px;
  height: 20px;
  padding-left: 9px;
}

.main-header-right{
  padding-top: 28px;
}
.username{
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}
.more-option{
  margin-top: 5px;
  list-style: none;
}
.more-option li{
  display: inline;
  
}
.more-option li span{
  font-weight: bold;
  font-size: larger;
}
.sub-header-left{
  padding-top: 12px;
}
.sub-header-option li {
  display: inline;
}
.sub-header-option li span{
  font-size: 15px;
  margin-left:9px;
  margin-right: 13px;
}

.sub-header-right{
  padding-top: 12px;
}
.sub-header-right img{
  vertical-align: middle;
}

.sub-header-items{
  display: inline-block;
  font-size: 11px;
}
.sub-header-items span {
  /* margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px; */
  padding: 5px;
}

.footer-left{
  padding-top: 19px;
}

.footer-left .footer-items li{
  display: inline-block;
}
.footer-items li span{
  margin-left:7px;
  margin-right: 7px;
}

.footer-right{
  padding-top: 19px;
}

.body-left{
  width: 738px;
}

.body-left-search{
  background-color: #f5f5f5;
  width: 194px;
  height: 598px;
}

.search-list{
  list-style: none;
}
.search-text{
  display: inline-block;
  width:96px;
  max-width: 96px;
}
.search-icon{
  margin-left: 50px;
}
.search-list-head{
  padding: 15px 51px 14px 11px;
  font-weight: bold;
  background-color: #7dd9e8;
  color: #fff;
  font-size: 13px;
}

.search-list-item:first-child{
  padding: 15px 51px 14px 11px;
  font-weight: bold;
  background-color: #7dd9e8;
  color: #fff;
  font-size: 13px;
}
.search-list-item:first-child:hover{
  background-color: #7dd9e8;
}
.search-text1{
  display: inline-block;
  width:137px;
  max-width:137px;
}
.search-icon1{
  margin-left: 7px;
}
.search-list-item{
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 18px;
  padding-right: 10px;
  font-size: 11px;
}
.search-list-item:hover{
  background-color:#ffffff;
}


/* .search-list-item-text{
  display: inline-block;
}
.search-list-item-icon{
  margin-right:4px;
} */

.body-left-entries{
  width: 518px;
  height: 598px;
}
.body-selector{
  /* margin-top: 12px; */
  height: 65px;
  border-bottom: 2px #7dd9e8 solid;
}

.body-selector-text {
  text-align:center;
  width: 258px;
}

.all-entries-image{
  background-image: url('../img/white-left.png');
  background-repeat: no-repeat;
}

.subscribed-image{
  background-image: url('../img/white-right.png');
  background-repeat: no-repeat;
}
.main-header-filter-text{
  display: inline-block;
  margin-top:10px;
  margin-bottom: 10px;
}
.body-selector-subsection{
  display: inline-block;
  margin: 0px 5px;
  width: 114px;
  padding: 10px 0px 9px 0px;
  background-image: url('../img/items-white.png');
  background-repeat: no-repeat;
}

.body-selector-subsection.active{
  background-image: url('../img/items-blue.png');
  background-repeat: no-repeat;
  color: white;
}


.all-entries .subscribed p{
  margin: auto;
  text-align: center;
}

.body-selector-subsection:hover{
  background-image: url('../img/items-blue.png');
  background-repeat: no-repeat;
  color: white;
}

.posts{
  list-style: none;
}
.each-post{
  border-bottom: 1px #d8d8d8 solid;
  padding-top:14px;
  padding-bottom: 14px;
}
.status{
  font-weight: bold;
  color: #3f3f3f;
  width: 420px;
  margin-bottom: 4px;
}
.description-text{
  padding-bottom: 2px;;
}
.newsfeed{
  list-style: none;
}
.friend-name{
  font-weight: bold;
  color: #4fb0c1;
}
.invite{
  font-weight: bold;
  color: #d53f1c;
  padding-bottom: 2px;
}
.new-comment{
  font-weight: bold;
  color: #4fb0c1;
}
.new-entry{
  font-weight: bold;
  color: #4fb0c1;
  margin-bottom: 3px;
}
.green-subscribed{
  font-weight: bold;
  color:#80a43a;
}
.category-head{
  margin-top: 4px;
}
.category{
  font-weight: bold;
  color: #4fb0c1;
}
.posts a{
  text-decoration: none;
}
.body-right{
  width:176px;
}
.body-right-video{
  background-color: #f5f5f5;
  height: 598px;
}
.video-list{
  list-style: none;
}

.video-list-item:first-child{
  padding-left:12px;
  padding-top:15px;
  padding-bottom: 15px;
  font-weight: bold;
  background-color: #7dd9e8;
  color: #fff;
  font-size: 13px;
}
.video-list-item:first-child:hover{
  background-color: #7dd9e8;
}

.video-list-item{
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 11px;
}
.video-list-item:hover{
  background-color:#ffffff;
}
