.float-left{
    float: left;
}

.float-right{
    float: right;
}

.icons{
    margin-top: 50px;
}

.each-icon{
    margin: 10px;
}

.introduction{
    margin-top: 60px;
    line-height: 1.4;
}

.contact{
    margin-top: 90px;
    line-height: 1.4;
    list-style: none;
}
