* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
body {
    background-color: #f7f7f7;
}
